@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Averia+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow: auto;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  color: #6e6e6e;
  min-width: 320px;
  scrollbar-gutter: auto;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

::-webkit-scrollbar {
  position: absolute;
  width: 8px;
  background: #6e6e6e;
  transition: border-radius 1s;
  margin-top: 40px;
}

::-webkit-scrollbar-thumb {
  background: #fe86a4 ;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:active {
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #ffffff00;
}

/* SVG Animation */
.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,400 C 0,400 0,200 0,200 C 62.43333333333334,168.3025641025641 124.86666666666667,136.6051282051282 219,129 C 313.1333333333333,121.3948717948718 438.9666666666666,137.88205128205126 522[...]
    );
  }
  25% {
    d: path(
      "M 0,400 C 0,400 0,200 0,200 C 70.93846153846152,195.9897435897436 141.87692307692305,191.9794871794872 233,204 C 324.12307692307695,216.0205128205128 435.4307692307692,244.07179487179485 51[...]
    );
  }
  50% {
    d: path(
      "M 0,400 C 0,400 0,200 0,200 C 79.91025641025641,201.23076923076923 159.82051282051282,202.46153846153848 249,214 C 338.1794871794872,225.53846153846152 436.6282051282052,247.38461538461536 [...]
    );
  }
  75% {
    d: path(
      "M 0,400 C 0,400 0,200 0,200 C 60.45384615384617,191.85897435897436 120.90769230769234,183.71794871794873 202,180 C 283.09230769230766,176.28205128205127 384.8230769230769,176.9871794871795 [...]
    );
  }
  100% {
    d: path(
      "M 0,400 C 0,400 0,200 0,200 C 62.43333333333334,168.3025641025641 124.86666666666667,136.6051282051282 219,129 C 313.1333333333333,121.3948717948718 438.9666666666666,137.88205128205126 522[...]
    );
  }
}

a {
  text-decoration: none;
}

a:hover {
  color: #fe86a4 ;
}

nav .cv-download {
  color: #ffffff;
  border: none;
  background-color: #fe86a4 ;
  padding: 15px 20px;
  /* padding: 15px auto; */
}

.fa-cloud-arrow-down {
  margin-right: 10px;
}

input,
textarea {
  border-radius: 0px;
  padding-left: 0px !important;
  color: #b1b1b1 !important;
}

input:focus,
textarea:focus {
  outline: 0px !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn-outline-success {
  border-radius: 0px;
  color: white;
  font-weight: 600;
}

.btn-outline-success img {
  width: 10px;
}

.btn-outline-success:hover {
  background-color: #4ea156;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 800;
  color: #222222;
}

h3,
h4,
h5,
h6 {
  color: #222222;
  font-weight: 600;
}

.pink {
  color: #fe86a4 ;
  font-size: 30px;
  font-weight: 900;
}

.white {
  color: rgba(177, 177, 177, 0.878);
}

.navbar {
  position: fixed;
  z-index: 20;
  margin: 0 auto;
  padding: 30px 0;
  height: 85px;
  background-color: #222222;
  box-shadow: 0 0px 4px 0px rgba(0, 0, 0, 0.8);
}

.navbar .nav-brand {
  position: absolute;
  top: 0;
  background-color: #fe86a4 ;
  display: inline-block;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 20px 10px 0px 10px;
  font-size: 2em;
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
  color: white;
  font-weight: 900;
}

.navbar li .nav-link {
  position: relative;
  display: inline-block;
  color: white;
  padding: 0px 30px !important;
  cursor: pointer;
  margin: 5px auto;
}

.nav-card-item {
  position: relative;
  list-style: none;
  left: -1rem;
}

.navbar li .nav-link:hover {
  color: #fe86a4 ;
}

.navbar li .active {
  color: #fe86a4 ;
}

.navbar .button {
  position: relative;
  float: right;
  color: white;
  background-color: #fe86a4 ;
  width: max-content;
  cursor: pointer;
}

.navbar .button:active,
.btn-send-message:active {
  transform: scale(98%);
}

.navbar .btn:hover {
  color: white;
}

.navbar .navbar-toggler {
  margin-left: auto;
}

#nav-icon {
  margin-top: -4px;
  width: 25px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: inline-block;
  position: absolute;
  border-radius: 2px;
  height: 4px;
  width: 25px;
  background: #ffffff;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2) {
  top: 10px;
  background-color: #fe86a4 ;
}

#nav-icon span:nth-child(3) {
  top: 20px;
}

#nav-icon.open span:nth-child(1) {
  top: 10px;
  width: 30px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 10px;
  width: 30px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.navbar .navbar-toggler,
.navbar .navbar-toggler {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.navbar-collapse {
  background-color: #222222;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 40px 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 21px;
  text-align: center;
  line-height: 32px;
  overflow: hidden;
}

}

.scroll-progress-track {
  position: fixed;
  top: 80px;
  width: 100%;
  height: 5px;
  background-color: transparent;
}

#progress-bar {
  height: 5px;
  background-color: #fe86a4 ;
  width: 0%;
}

.navbar-links {
  height: 218px;
}

.navbar-collapse .nav-link {
  font-size: 20px;
  font-family: "Koulen";
  letter-spacing: 1px;
  color: #fe86a4  !important;
  border: 2px solid #fe86a4 ;
  border-radius: 20px;
  box-shadow: 10px 10px 30px #1d1d1d50, -10px -10px 30px #27272750;
}

.loader {
  position: fixed;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  cursor: default;
  z-index: 10;
  opacity: 1;
  background-color: #222222;
}

.loading-text {
  color: rgb(255, 255, 255);
  position: absolute;
  font-weight: 100;
  font-family: "Courier New", Courier, monospace;
  font-size: 15px;
  width: 100%;
  text-align: center;
}

.section-title {
  color: #fe86a4 ;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin: 10px auto;
}

#intro {
  background-color: #222222;
  box-shadow: 0px 0px 10px 10px rgba(34, 34, 34, 1);
  padding: 150px 0px 50px;
}

.typing-text {
  color: #ffffff;
  position: relative;
  display: inline;
}

.typing {
  position: relative;
  width: 100%;
}

#intro h1 {
  color: white;
  margin-bottom: 0px;
}

#intro h1 .my-name {
  font-size: 1.7em;
}

#intro-p {
  font-weight: bold;
}

#intro-p:hover {
  color: #fe86a4 ;
  display: inline-block;
  animation: rubberBand;
  animation-duration: 1s;
  transition: color 0.4s ease-in-out;
}

#intro .button {
  width: 45%;
  margin-bottom: 20px;
  border-radius: 4px;
}

#intro .button .fa-cloud-arrow-down,
.fa-envelope {
  margin-right: 10px;
}

#intro .button:active {
  transform: scale(98%);
}

.btn-contact {
  background-color: #fe86a4 00 !important;
  border: 2px solid #fe86a4 ;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.btn-contact:hover {
  background-color: #fe86a4  !important;
}

.intro-btns {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#intro p {
  margin-top: 10px;
  margin-bottom: 20px;
}

.intro-p-url {
  text-decoration: underline;
  display: inline-block !important;
  color: #6e6e6e;
}

.intro-p-url:hover {
  cursor: pointer;
  color: #fe86a4  !important;
  text-decoration: underline;
  animation: rubberBand;
  animation-duration: 1s;
  transition: color 0.4s ease-in-out;
}

#intro a {
  display: flex;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  text-align: left;
  margin: auto;
}

.my-name {
  font-weight: 750;
}

#intro a:hover {
  color: white;
}

#intro .scroll {
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  color: #6e6e6e;
  font-weight: 600;
  margin: 10px auto;
  margin-bottom: 25px;
}

#intro .scroll:hover {
  color: #fe86a4 ;
  transition: color 0.5s ease-in-out;
  animation: flash;
  animation-duration: 1s;
}

#intro .scroll::before {
  content: "\f103";
  position: relative;
  margin-right: 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

#intro .scroll::after {
  content: "\f103";
  position: relative;
  margin-left: 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

#intro .img {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

#intro .img img {
  width: 100%;
  max-width: 260px;
  height: auto;
  object-fit: cover;
  position: relative;
  -webkit-mask: url(../img/clip.webp);
  mask: url(../img/clip.webp);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 260px 260px;
  mask-size: 260px 260px;
  -webkit-mask-position: center;
  mask-position: center;
  border-radius: 4px;
  cursor: grab;
}

#about {
  padding-top: 50px;
  top: -60px;
  position: relative;
}

.about-wrapper .left h2 {
  font-size: 30px;
}

.about-wrapper .right h2 {
  font-size: 30px;
}

#about .left,
#about .right {
  padding: 40px 10px;
}

#about .left div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  padding-bottom: 30px;
}

#about .left img {
  width: 50px;
}

#bio .bio {
  padding: 0px;
}

#bio h2 {
  margin-top: 25px;
  font-size: 30px;
}

#bio .img {
  position: relative;
  top: 20px;
  padding: 0 50px;
}

#bio .img .bio-img {
  position: relative;
  width: 100%;
  cursor: grab;
  margin-bottom: 25px;
  border-left: 5px solid #fe86a4 ;
  border-radius: 8px;
}

.js-tilt-glare {
  border-radius: 8px;
}

#bio .text {
  padding: 20px;
}

#skills {
  background-color: #222222;
  box-shadow: 0px 0px 10px 10px rgba(34, 34, 34, 1);
  padding: 80px 0px;
}

#skills .skill-cards-container {
  padding: 10px 0px;
  display: flex;
  gap: 40px;
  margin-bottom: 80px;
  margin-top: 30px;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skill-label {
  color: rgb(200, 200, 200);
  font-weight: 600;
  text-align: left;
  margin-top: 30px;
  margin-left: 2.5%;
}

#skills .container .div-card {
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 15px;
  background-color: #222222;
  box-shadow: 5px 5px 15px #181818, -5px -5px 15px #2c2c2c;
  transition: background-color 0.2s ease, border-radius 0.2s ease;
}

#skills .container .div-card:hover {
  border-radius: 50%;
  background-color: rgb(200, 200, 200);
}

#skills .container .div-card-item {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-repeat: no-repeat;
  background-size: contain;
}

#skills .container .div-card-item:hover #skills .container .div-card span {
  color: #fe86a4 ;
}

#skills .container .div-card .skill-level {
  position: absolute;
  display: table;
  transition: opacity 0.4s;
  opacity: 0%;
  font-size: 15px;
  z-index: 2;
  color: #ffffff;
  backdrop-filter: blur(2px);
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#skills .container .div-card span {
  position: relative;
  display: table;
  color: #6e6e6e;
  font-size: 15px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
}

/*Icons - Programming Languages & Frameworks */

#skills .container .div-card .mongodb {
  background-image: url("../img/icon/mongodb.png");
}
#skills .container .div-card .node-js {
  background-image: url("../img/icon/node-js.png");
}
#skills .container .div-card .express-js {
  background-image: url("../img/icon/express-js.png");
}
#skills .container .div-card .html {
  background-image: url("../img/icon/html-5.png");
}
#skills .container .div-card .css {
  background-image: url("../img/icon/css-3.png");
}
#skills .container .div-card .js {
  background-image: url("../img/icon/js.png");
}
#skills .container .div-card .python {
  background-image: url("../img/icon/python.png");
}
#skills .container .div-card .next-js {
  background-image: url("../img/icon/next-js.png");
}
#skills .container .div-card .typescript {
  background-image: url("../img/icon/typescript.png");
}
#skills .container .div-card .react-js {
  background-image: url("../img/icon/react-js.png");
}

/*Icons - Tools & Other Skills */

#skills .container .div-card .git {
  background-image: url("../img/icon/git.png");
}
#skills .container .div-card .ux-ui {
  background-image: url("../img/icon/ui-ux.png");
}
#skills .container .div-card .docker {
  background-image: url("../img/icon/docker.png");
}
#skills .container .div-card .devops {
  background-image: url("../img/icon/devops.png");
}

/*Icons - Languages */

#skills .container .div-card .sinhala {
  background-image: url("../img/icon/lang-si.png");
}
#skills .container .div-card .english {
  background-image: url("../img/icon/lang-en.png");
}
#skills .container .div-card .tamil {
  background-image: url("../img/icon/lang-ta.png");
}

.card-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.fa-file-code,
.fa-display {
  position: relative;
  top: 2px;
}

#milestones {
  padding: 50px 0px;
  background-color: #222222;
}

.milestones {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.timeline {
  width: 100%;
  height: auto;
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
  padding-left: 0px;
}

.timeline ul li {
  padding: 10px;
  background-color: #222222;
  border: 2px solid #fe86a4 ;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
  text-align: left;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.timeline ul li:last-child {
  margin-bottom: 0;
}

.timeline-content .title {
  font-weight: 500;
  color: #b1b1b1;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 5px;
}

.timeline-content .birth::before {
  content: "\f1fd";
  position: relative;
  color: #222222;
  margin-right: 5px;
  -webkit-text-stroke: 1px #fe86a4 ;
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
}

.timeline-content .education::before {
  content: "\f19d";
  position: relative;
  color: #222222;
  margin-right: 5px;
  -webkit-text-stroke: 1px #fe86a4 ;
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
}

.timeline-content .school::before {
  content: "\e56b";
  position: relative;
  color: #222222;
  -webkit-text-stroke: 1px #fe86a4 ;
  margin-right: 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
}

.timeline-content .job::before {
  content: "\f0b1";
  position: relative;
  color: #222222;
  margin-right: 5px;
  -webkit-text-stroke: 1px #fe86a4 ;
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
}

.timeline-content .company::before {
  content: "\f1ad";
  position: relative;
  color: #222222;
  -webkit-text-stroke: 1px #fe86a4 ;
  margin-right: 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
}

.timeline-content .sub-title {
  font-size: 16px;
  font-weight: normal;
  color: #b1b1b1;
  margin-bottom: 10px;
}

.timeline-content .description {
  color: #6e6e6e;
}

.timeline-content .globe::before {
  content: "\f57e";
  position: relative;
  color: #222222;
  -webkit-text-stroke: 1px #fe86a4 ;
  margin-right: 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
}

.timeline-content p {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.timeline-content .date {
  font-size: 12px;
  color: #6e6e6e;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.timeline-content .date::before {
  content: "\f783";
  position: relative;
  color: #fe86a4 50;
  -webkit-text-stroke: 1px #fe86a4 ;
  margin-right: 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
}

#contact {
  padding-top: 50px;
}

.contact-title {
  font-size: 30px;
}

#contact #contact-form {
  text-align: right;
  padding: 50px 0px;
}

#contact #contact-form .form-group {
  text-align: left;
  margin-top: 20px;
}

#contact #contact-form button {
  margin-top: 40px;
  border-radius: 4px;
}

.btn-send-message {
  color: #ffffff;
  background-color: #fe86a4 ;
  pointer-events: auto !important;
  padding: 8px 20px;
  cursor: pointer !important;
  border: none;
}

.btn-send-message:active {
  transform: scale(98%);
}

#contact #contact-form input,
#contact #contact-form textarea {
  background-color: transparent;
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid #6e6e6e;
}

.contact-bg {
  width: 100%;
  position: relative;
}

.contact-img {
  position: relative;
  display: block;
  top: 50%;
  left: 50%;
  padding-bottom: 50px;
  transform: translate(-50%, -50%);
  max-width: 400px;
  height: auto;
}

#contact h1 {
  color: white;
  font-weight: 900;
}

#contact .email,
#contact .phone {
  margin-top: 30px;
}

#contact .email p,
#contact .phone p {
  margin-bottom: 0.5rem !important;
}

#contact .fa-paper-plane {
  margin-right: 10px;
}

.contacts {
  margin-top: 50px;
}

.social-media-set {
  position: relative;
  align-items: center;
  height: 65px;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}

[...]
